h3 span {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

section {
    width: 70%;
}

section > *{
    margin-left: 25px;
    margin-right: 25px;
}

section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section ul {
    padding-left: 20px;
    list-style-type: square;
}

section ul li {
    margin-bottom: 10px;
}

article {
    background-color: #DCEAF7;
    width: 30%;
}

article div {
    padding: 0 20px;
}

article div h2 {
    margin: 15px auto 5px;
}

article ul {
    padding-left: 20px;
    list-style-type: square;
    margin: 0;
}

article ul li {
    margin-bottom: 5px;
}

.portfolio-link {
    color: default;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.education p {
    margin: 5px 0;
}