/*Main Elements*/
body {
    display: flex;
    flex-flow: row wrap;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #163E64;
    color: white;
}

.name-nav {
    float: left;
    width: 900px;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: left;
    margin: 25px 75px 0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #163E64;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
    align-content: center;
}

nav {
    margin: 20px 75px auto;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    gap: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 5px;
    border: 1px solid transparent;
}

nav ul li.active{
    border: 1px solid white;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;
    float: right;
}

.icon p {
    border: 1px solid white;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 63px;
    height: 63px;
    text-align: center;
    align-content: center;
}   

footer {
    width: 100%;
    background-color: #163E64;
    height: 50px;
    align-content: center;
}

footer div {
    text-align: center;
    margin: auto;
}

footer div a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
}

hr { border: 1px solid #90a4b8; }

.short-divider { width: 88%; }

.long-divider { width: 95%; }